.App {
  font-family: sans-serif;
  text-align: center;
}

.user-msg {
  color: black;
}
.user-name {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

img {
  height: 100px;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}
 
.banner-info{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

}

img{
  border-radius: 2rem;
  height:30rem;

}

.movie-information{
  font-weight:bold;
  display:flex;
  justify-content: space-between;
  width:19rem;
  
  
}
.summary{
  width: 19rem;
}

/* .moviesbutton > button {
  color:purple;
  font-weight: bold;
  border-radius: 1rem;
  
} */

.movie-details{
  display:flex;
  height:10rem;
  flex-direction: column;
  
  
}













